body {
	margin-left: 0px;
	margin-top: 0px;
	font-family: arial;
	font-size: 75%;
}
a {
	font-weight: normal;
	color: #333399;
}
a.link {
    text-decoration: none;
    color: #996600;
	font-weight: bold;
	font-size: 100%;
}
a.link:hover {
    text-decoration: underline;
    color: #CC9900;
}
a.info {
	text-decoration: none;
	color: black;
}
#search a {
	text-decoration: none;
	color: white;
}
.header {
    display: grid;
    grid-template-columns: 50% 50%;
}
#logo {
	float:left
}
#info {
	text-align: right;
	float: right;
	margin-top: 7px;
}
#aboutlinks {
	text-align: left;
	float: left;
	font-weight: bold;
	background-color: #6B78A2;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
	color: white;
	display: inline-block;
	width: 100%;
}
#search {
	text-align: right;
	float: right;
	background-color: #6B78A2;
	color: white;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	padding-top: 4px;
	font-size: 95%;
}
#search a {
	font-weight: normal;
}
#aboutlinks a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}
#search img {
	vertical-align: middle;
}
.tabs {
	background-color: #CCCCCC;
	border-top: 2px
}
.tabs table {
	border-collapse: collapse;
}

.tabs td {
	border: 1px solid white;
	margin: 0px;
	padding: 6px;
}
.tabs a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 80%;
}
.maincontent {
	display: grid;
    grid-template-columns: 190px auto 200px;
	border-bottom: 1px solid grey;
}
#leftcol {
	margin-left: 10px;
	margin-top: 10px;
}
#leftcol img {
	padding-bottom: 10px;
	display: block;
}
.maincontent b {
	color: #333366;
	font-size: 105%;
}
#leftcol ul {
	padding: 0px;
	padding-left: 15px;
}
#main {
	padding-left: 10px;
	padding-top: 10px;
	border-left: 2px solid grey;
	border-right: 2px solid grey;
}
#rightcol {
	padding-left: 14px;
	padding-top: 10px;
	background-color: #F2F2E6;
}
#rightcol img {
	padding-bottom: 10px;
	display: block;
}
#rightcol ul {
	padding: 0px;
	padding-left: 15px;
}
#rightcol b a {
	font-weight: bold;
}
br {
	margin: 0px;
}